.action-btn {
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
}

.settings-menu-background {
    background-color: white;
}

.settings-menu-stack {
    margin: 8 0;
}

.settings-menu-item {
    color: #151F2F;
    height: 44;
    vertical-align: center;
    border-width: 1;
    border-color: white;
}
