.instructions {
    font-size: 12;
    padding: 10;
}

.input {
    padding: 5 10;
    border-top-color: #eee;
    border-top-width: 1;
    border-top-style: solid;
}

.input label {
    vertical-align: center;
}

.input textfield {
    background-color: transparent;
    border-color: transparent;
}

textview {
    margin: 10 5;
    border-top-color: #eee;
    border-top-width: 1;
    border-top-style: solid;
}

.submit {
    background-color: #456817;
    color: white;
    margin: 10;
}