.nav {
    text-align: center;
    background-color: #456817;
    background-image: ~/images/texture-overlay.png;
    color: white;
    height: 40;
    width: 60;
}

.cal {
    text-align: center;
    background-color: #62981e;
    background-image: ~/images/texture-overlay.png;
    color: white;
    height: 40;
}

.menu-error {
    padding: 10 20;
    text-align: center;
    color: #b90a0a;
    font-size: 22;
}

.title {
    padding: 10;
}
.title label {
    font-size: 22;
    font-family: 'Shadows Into Light Two', cursive;
    vertical-align: bottom;
}
.title label.small {
    font-size: 16;
}

.alert {
    font-size: 12;
    padding: 5 10;
    background-color: #b90a0a;
    color: white;
}
.alert label {
    vertical-align: center;
}

image {
    margin-top: 1;
}
.dish {
    font-family: 'Duru Sans', sans-serif;
    background-color: #456817;
    background-image: ~/images/texture-overlay.png;
    color: white;
    padding: 10;
}
.veg {
    margin-left: 10;
    background-color: white;
    width: 20;
    height: 20;
    border-radius: 40;
    text-align: center;
    font-weight: bold;
    color: #456817;
}

.water {
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    padding: 20 10;
}